#button-index {
    background-image: url(../img/bunch-siro.svg);
}

#button-link {
    background-image: url(../img/bunch-hiwamoegi.svg);
}

#button-work {
    background-image: url(../img/bunch-sangosyu.svg);
}

body {
    background-color: #f7c442;
}

hr {
    background-image: url(../img/tie-hanaba.svg);
}

h2, h3 {
    color: #f7c442;
}
