#button-index {
    background-image: url(../img/bunch-hanaba.svg);
}

#button-link {
    background-image: url(../img/bunch-siro.svg);
}

#button-work {
    background-image: url(../img/bunch-sangosyu.svg);
}

body {
    background-color: #90b44b;
}

hr {
    background-image: url(../img/tie-hiwamoegi.svg);
}

h2, h3 {
    color: #90b44b;
}
