body {
    margin: 0;
}
* {
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
a {text-decoration: none;}

header {
    width: 80%;
    padding:16px 0; margin: 16px auto;
    text-align: left;
    background-color: #fff;
    border-bottom: 1px dotted #aaa;
}
footer {
    width: 80%;
    padding:16px 0; margin: 16px auto;
    text-align: right;
    background-color: #fff;
    border-top: 1px dotted #aaa;
    font-size: 12px;
}
h1 {
    margin: 0; padding: 0;
    font-size: 32px;
}
header a {color: #e6b422;}

#contents {
    width: 80%; height: auto;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    overflow: hidden;
}
.container_me, .container_dev {
    float: left;
    width: 50%; height: 100%;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
}
#contents a {
    display: block;
}
#contents a:link {background-color: #222;}
#contents a:hover {background-color: #ddd;}
.icon {
    font-size: 16px;
    width: 128px; height: 128px;
    float: left;
    margin: 8px; padding: 64px 0;
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -o-border-radius: 64px;
    -ms-border-radius: 64px;
    text-align: center; vertical-align: middle;
}

.container_me > a {color: #80aba9;}
.container_dev > a {color: #f08300;}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{

    h1 {
	margin: 0; padding: 0;
	font-size: 28px;
    }
    .icon {
	font-size: 12px;
	width: 96px; height: 96px;
	float: left;
	margin: 8px; padding: 48px 0;
	border-radius: 48px;
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	-o-border-radius: 48px;
	-ms-border-radius: 48px;
	text-align: center; vertical-align: middle;
    }
}

